@import "~assets/styles/variables";
@import "~assets/styles/mixins";
.chat-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  .ant-input {
    width: 80%;
    resize: none;
    height: 100%;
    color: $dark-font-color;
    line-height: 18px;
    margin: 0 10px;
    &:focus {
      box-shadow: none;
      border-color: initial;
    }
  }

  &__actions {
    @include flex-s-between;
  }
}
