@import "~assets/styles/variables";
@import "~assets/styles/mixins";

.message {
  $self: &;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &--is-me {
    flex-direction: row-reverse;
    #{$self}__avatar {
      margin: 0 0 25px 15px;
    }
    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      border-radius: 12px 12px 0px 12px;
    }
    #{$self}__text {
      color: $dark-font-color;
    }
    #{$self}__date {
      display: block;
      text-align: right;
    }
    .audio {
      border-radius: 12px 12px 0 12px;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      margin-bottom: 0;
    }
    #{$self}__avatar {
      margin-bottom: 0;
    }
  }

  &--image {
    #{$self}__attachments {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin: 0 15px 25px 0;
    border-radius: 50%;
    align-self: flex-end;
  }

  &__status {
    align-self: flex-end;
    margin: 0 10px 25px 0;
    img {
      display: block;
    }
  }
  &__bubble {
    display: inline-block;
    max-width: 320px;
    padding: 10px;
    background: $message-bg;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0px;
    margin: 0 0 5px;
  }

  &__text {
    color: #fff;
    margin: 0;
    font-size: rem(14);
  }

  &__attachments {
    display: flex;
    &-item {
      img {
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 5px 5px 0;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }

  &__date {
    display: block;
    font-size: rem(12);
    color: $dark-font-color;
    opacity: 0.4;
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 7px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }
      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }
}

@keyframes typingAnimation {
  0% {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-1px);
  }
}
