@import "~assets/styles/variables";
@import "~assets/styles/mixins";

.message {
  $self: &;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 7px;
  }

  &--is-me {
    #{$self}__content {
      flex-direction: row-reverse;
    }
    #{$self}__avatar {
      margin: 0 0 25px 15px;
    }
    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      border-radius: 12px 12px 0px 12px;
      margin: 0 0 0 10px;
    }
    #{$self}__text {
      color: $dark-font-color;
    }
    #{$self}__date {
      display: block;
      text-align: right;
    }

    #{$self}__attachments-item {
      margin-left: 7px;
    }

    .audio {
      border-radius: 12px 12px 0 12px;
    }
  }

  &--is-typing {
    #{$self}__avatar {
      margin-bottom: 0;
    }
  }

  &--image {
    #{$self}__attachments {
      img {
        width: 150px;
        height: auto;
      }
    }
  }

  &__content {
    display: flex;
    margin-bottom: 2px;
    .ant-btn-icon-only {
      transform: rotate(90deg);
      width: 16px;
      height: 16px;
    }
  }
  &__icon-actions {
    align-self: flex-start;
    position: relative;
    right: -20px;
    top: 3px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    margin: 0 15px 25px 0;
    border-radius: 50%;
    align-self: flex-end;
  }

  &__status {
    align-self: flex-end;
    margin: 0px 0 2px 0px;
    svg {
      display: block;
    }
  }

  &__bubble {
    display: inline-block;
    max-width: 320px;
    padding: 10px;
    background: $message-bg;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0px;
    word-break: break-word;
    margin: 0 10px 0 0;
  }

  &__text {
    color: #fff;
    margin: 0;
    font-size: rem(14);
    display: flex;
    align-items: center;
    white-space: pre-line;
  }

  &__attachments {
    display: flex;
    align-items: center;
    &-item {
      img {
        width: 50px;
        height: auto;
        display: block;
        // margin: 0 5px 5px 0;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }

  &__date {
    display: block;
    font-size: rem(12);
    color: $dark-font-color;
    opacity: 0.4;
  }
}

.ant-popover-inner-content {
  padding: 5px;
}
