.sidebar {
  width: 30%;
  border-right: 2px solid #f3f7ff;
  &__header {
    display: flex;
    align-items: center;
    padding: 21px 20px;

    .anticon {
      svg {
        width: 20px;
        height: 20px;
      }
      &-team {
        margin-right: 7px;
      }
    }

    .ant-btn {
      margin-left: auto;
    }
  }
  &__search-input {
    padding: 10px 20px;
  }
  &__dialogs {
    height: calc(100% - 136px);
  }
}
